outputs
HAM5000




# ======================================================
# Python
# ======================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.env*/
.venv/
pip-wheel-metadata/

# ======================================================
# Jupyter
# ======================================================
.ipynb_checkpoints/

# ======================================================
# PyTorch / Deep Learning
# ======================================================
# Model checkpoints and training outputs
outputs/
*.pth
*.pt

# Logs
*.log



labels.csv
*.csv



# ======================================================
# OS / Editor files
# ======================================================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# ======================================================
# LaTeX / Reports
# ======================================================
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg

# ======================================================
# Temporary / Backup files
# ======================================================
*.tmp
*.swp
*~
